.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.section {
  padding-top: 0px;
  padding-bottom: 0px;
  border-top: 1px none #000;
  border-bottom: 1px solid #2a2a2a;
  background-color: #0d0d0d;
}

.grid {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  -ms-grid-columns: 1fr 1.5fr;
  grid-template-columns: 1fr 1.5fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.navbar {
  padding-top: 8px;
  padding-bottom: 8px;
  border: 1px none #222;
  background-color: #151515;
}

.section-2 {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #000;
}

.heading {
  font-family: Inter, sans-serif;
  color: #fff;
  font-size: 40px;
  font-weight: 300;
}

.heading-2 {
  font-family: Inter, sans-serif;
  color: #9a9a9a;
  font-weight: 500;
}

.heading-3 {
  font-family: Montserrat, sans-serif;
  color: #858585;
  font-weight: 500;
}

.text-block {
  color: #dee2e6;
}

.container {
  margin-bottom: 40px;
}

.section-3 {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #000;
}

.nav-link {
  font-family: Inter, sans-serif;
  color: #ced4da;
  font-weight: 600;
}

.nav-link.w--current {
  color: #f0af1b;
}

.div-block {
  padding-top: 60px;
}

.container-2 {
  max-width: 1100px;
}

.button {
  padding: 12px 30px;
  border-radius: 8px;
  background-color: #f0af1b;
  font-family: Inter, sans-serif;
  color: #000;
  font-weight: 600;
  cursor: not-allowed;
}

.button:hover {
  background-color: #fff;
}

.button.header-btn {
  margin-top: 12px;
  margin-left: 10px;
  padding: 8px 20px;
}

.button.header-btn.on {
  cursor: pointer;
}

.button.header-btn.on:hover {
  background-color: #fff;
  color: #000;
}

.button.header-btn.on.login {
  background-color: #333;
  color: #f0af1b;
}

.button.header-btn.on.login:hover {
  background-color: #fff;
  color: #000;
}

.button.on {
  cursor: pointer;
}

.grid-2 {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-3 {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-4 {
  grid-column-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.section-4 {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #000;
}

.square {
  height: 310px;
  padding: 8px 70px 10px;
  border-radius: 8px;
  background-color: transparent;
  background-image: url('../images/box.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
}

.square.green {
  background-image: url('../images/square-green.png');
}

.square.green-2 {
  background-image: url('../images/square-greener.png');
}

.heading-4 {
  font-family: Inter, sans-serif;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
}

.text-block-2 {
  font-family: Inter, sans-serif;
  color: #fff;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
}

.text-block-2.alt {
  padding-top: 10px;
  line-height: 19px;
}

.image {
  position: static;
  margin-bottom: 20px;
  padding-top: 10px;
}

.container-3 {
  max-width: 1000px;
}

.image-2 {
  padding-top: 6px;
}

.container-4 {
  max-width: 1100px;
}

.section-5 {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1a1a1a), to(rgba(26, 26, 26, 0)));
  background-image: linear-gradient(180deg, #1a1a1a, rgba(26, 26, 26, 0));
}

.text-block-3 {
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: Inter, sans-serif;
  color: #aaa;
}

.section-6 {
  padding-top: 40px;
  padding-bottom: 60px;
  border-top: 1px solid #2a2a2a;
  background-color: #000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1a1a1a), to(rgba(26, 26, 26, 0)));
  background-image: linear-gradient(180deg, #1a1a1a, rgba(26, 26, 26, 0));
}

.grid-5 {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.heading-5 {
  margin-bottom: 20px;
  font-family: Inter, sans-serif;
  color: #f0af1b;
  font-weight: 300;
}

.text-block-4 {
  font-family: Inter, sans-serif;
  color: #fff;
  font-size: 13px;
  font-weight: 300;
}

.section-7 {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #000;
}

.grid-6 {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.heading-6 {
  font-family: Inter, sans-serif;
  color: #fff;
  font-weight: 400;
  text-align: center;
}

.text-span {
  color: #f0af1b;
}

.div-block-2 {
  padding-top: 60px;
  padding-bottom: 60px;
  font-family: Inter, sans-serif;
  color: #bebebe;
}

.text-block-5 {
  margin-bottom: 40px;
  color: #ddd;
}

.section-8 {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #000;
  background-image: url('../images/triengle-bg.png');
  background-position: 100% 0%;
  background-size: auto;
  background-repeat: no-repeat;
}

.image-3 {
  text-align: center;
}

.container-5 {
  margin-bottom: 20px;
  text-align: center;
}

.grid-7 {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.section-9 {
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: #000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1c1c1c), to(rgba(26, 26, 26, 0)));
  background-image: linear-gradient(180deg, #1c1c1c, rgba(26, 26, 26, 0));
  background-position: 0px 0px;
  background-size: auto;
  background-repeat: repeat;
}

.grid-8 {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.grid-9 {
  -ms-grid-columns: 1.5fr 1fr;
  grid-template-columns: 1.5fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.section-10 {
  padding-top: 50px;
  padding-bottom: 80px;
  background-color: #000;
}

.grid-10 {
  grid-row-gap: 21px;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.div-block-3 {
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 6px;
  background-color: #171717;
  text-align: center;
}

.image-4 {
  margin-bottom: 10px;
}

.text-block-6 {
  color: #9a9a9a;
}

.heading-7 {
  font-family: Inter, sans-serif;
  color: #fff;
  font-size: 28px;
  font-weight: 400;
}

.container-6 {
  margin-bottom: 30px;
}

.text-span-2 {
  color: #f0af1b;
}

.div-block-4 {
  text-align: left;
}

.heading-8 {
  margin-bottom: 20px;
  font-family: Inter, sans-serif;
  color: #f0af1b;
  font-weight: 400;
}

.text-block-7 {
  font-family: Inter, sans-serif;
  color: #fff;
}

.container-7 {
  text-align: center;
}

.heading-9 {
  margin-bottom: 40px;
  font-family: Inter, sans-serif;
  color: #fff;
  font-weight: 400;
  text-align: center;
}

.section-11 {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #000;
  background-image: url('../images/triengle-bg-horizontal.png');
  background-position: 0% 100%;
  background-size: auto;
  background-repeat: no-repeat;
}

.grid-11 {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.div-block-5 {
  text-align: left;
}

.heading-10 {
  margin-bottom: 60px;
  font-family: Inter, sans-serif;
  color: #fff;
  font-weight: 400;
}

.text-block-8 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Inter, sans-serif;
  color: #888;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.text-block-8.alt {
  margin-top: 0px;
  font-size: 10px;
}

.image-5 {
  margin-right: 20px;
  cursor: not-allowed;
}

.image-6 {
  cursor: not-allowed;
}

.div-block-6 {
  padding-top: 20px;
}

.text-block-9 {
  padding-top: 20px;
  font-family: Inter, sans-serif;
  color: #ddd;
  font-weight: 300;
}

.image-7 {
  text-align: left;
}

.text-span-3 {
  color: #f0af1b;
}

.div-block-7 {
  display: inline-block;
}

.div-block-8 {
  display: inline-block;
}

.text-block-10 {
  float: left;
}

.image-8 {
  margin-top: -2px;
  margin-left: 6px;
}

.image-9 {
  color: #952d2d;
}

.body {
  background-color: #000;
}

.grid-12 {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.link {
  color: hsla(0, 0%, 100%, 0.6);
  text-decoration: none;
}

.text-block-11 {
  color: #888;
  text-align: center;
}

.section-12 {
  padding-top: 75px;
  padding-bottom: 100px;
}

.text-block-12 {
  display: inline-block;
  padding: 10px 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 3px;
  background-color: #d8d8d8;
}

.container-13 {
  text-align: center;
}

.container-14 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-field {
  height: 45px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-style: solid;
  border-width: 1px;
  border-color: #111;
  border-radius: 3px;
  background-color: #222;
  color: #888;
}

.field-label {
  font-family: Inter, sans-serif;
  color: #fff;
  font-style: normal;
  font-weight: 400;
}

.form {
  width: 300px;
  padding-right: 0px;
  padding-left: 0px;
}

.form-block {
  position: relative;
  width: 300px;
}

.submit-button {
  width: 100%;
  margin-top: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 3px;
  background-color: #f0af1b;
  font-family: Inter, sans-serif;
  color: #000;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  cursor: not-allowed;
}

.submit-button.google {
  margin-top: 0px;
  background-color: #fff;
}

.submit-button.apple {
  border: 1px solid #1f1f1f;
  background-color: #1f1f1f;
}

.grid-13 {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.text-block-13 {
  display: inline-block;
}

.text-block-13.apple {
  color: #fff;
}

.image-10 {
  margin-top: -4px;
  margin-right: 10px;
}

.div-block-9 {
  width: 100%;
  height: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #888;
  color: #fff;
}

.div-block-10 {
  padding-top: 0px;
  text-align: center;
}

.section-13 {
  padding-top: 0px;
  padding-bottom: 50px;
}

.heading-11 {
  font-family: Inter, sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.list-item {
  padding-top: 8px;
  padding-bottom: 8px;
}

.image-11 {
  margin-right: 0px;
}

.image-12 {
  margin-right: 0px;
}

.container-15 {
  padding-top: 60px;
  padding-bottom: 40px;
}

.container-16 {
  padding-top: 0px;
}

.section-14 {
  padding-top: 40px;
  border-top: 1px solid #2a2a2a;
}

.body-2 {
  background-color: #000;
}

.link-block {
  margin-right: 15px;
}

@media screen and (max-width: 991px) {
  .grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .navbar {
    padding-left: 40px;
  }

  .heading {
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 32px;
  }

  .heading.alt-head {
    margin-top: 0px;
  }

  .heading-2 {
    font-size: 12px;
  }

  .container {
    margin-bottom: 0px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .nav-link {
    text-align: center;
  }

  .div-block {
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 40px;
  }

  .button.header-btn.on {
    margin-bottom: 4px;
  }

  .button.header-btn.on.login {
    margin-bottom: 4px;
  }

  .button.on {
    margin-top: 4px;
    padding: 10px 22px;
    font-size: 13px;
    line-height: 18px;
  }

  .section-4 {
    padding-top: 20px;
  }

  .square {
    padding-right: 20px;
    padding-left: 20px;
  }

  .heading-4 {
    margin-top: 40px;
  }

  .text-block-2 {
    font-size: 12px;
    line-height: 18px;
  }

  .text-block-2.alt {
    line-height: 18px;
  }

  .image {
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .container-3 {
    padding-right: 40px;
    padding-left: 40px;
  }

  .text-block-3 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 15px;
  }

  .section-6 {
    padding-bottom: 30px;
  }

  .heading-5 {
    font-size: 24px;
  }

  .text-block-4 {
    font-size: 12px;
  }

  .container-5 {
    padding-right: 20px;
  }

  .section-10 {
    padding-top: 0px;
  }

  .div-block-3 {
    padding-top: 16px;
    padding-bottom: 12px;
  }

  .text-block-6 {
    font-size: 13px;
    line-height: 18px;
  }

  .container-6 {
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .heading-8 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 38px;
  }

  .text-block-7 {
    font-size: 12px;
    line-height: 16px;
  }

  .text-block-8 {
    margin-top: 6px;
    font-size: 10px;
  }

  .container-8 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .container-9 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .container-10 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .container-11 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .menu-button {
    border-radius: 10px;
  }

  .menu-button.w--open {
    background-color: #2b2b2b;
  }

  .icon {
    color: #f0af1b;
  }

  .nav-menu {
    background-color: #2b2b2b;
  }

  .div-block-7 {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .div-block-8 {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .container-16 {
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px) {
  .grid {
    -ms-grid-columns: 1fr 1.2fr;
    grid-template-columns: 1fr 1.2fr;
  }

  .navbar {
    padding-left: 20px;
  }

  .heading {
    font-size: 22px;
    line-height: 22px;
  }

  .heading-3 {
    font-size: 18px;
    line-height: 20px;
  }

  .text-block {
    font-size: 12px;
    line-height: 18px;
  }

  .div-block {
    padding-bottom: 5px;
    padding-left: 25px;
  }

  .button.on {
    margin-top: 0px;
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 10px;
    line-height: 15px;
  }

  .section-4 {
    padding-top: 0px;
    padding-bottom: 20px;
  }

  .square {
    padding-right: 10px;
    padding-left: 10px;
  }

  .heading-4 {
    margin-top: 65px;
    font-size: 12px;
    line-height: 16px;
  }

  .text-block-2 {
    padding-top: 4px;
    font-size: 10px;
    line-height: 15px;
  }

  .text-block-2.alt {
    line-height: 15px;
  }

  .container-3 {
    padding-right: 15px;
    padding-left: 15px;
  }

  .text-block-3 {
    font-size: 10px;
    line-height: 13px;
  }

  .section-6 {
    padding-top: 20px;
  }

  .heading-5 {
    margin-top: 0px;
    font-size: 20px;
    line-height: 26px;
  }

  .text-block-4 {
    font-size: 11px;
    line-height: 15px;
  }

  .grid-6 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .div-block-2 {
    padding-top: 20px;
    padding-right: 80px;
    padding-left: 80px;
  }

  .container-5 {
    padding-right: 30px;
    padding-left: 10px;
  }

  .section-9 {
    padding-bottom: 75px;
  }

  .grid-8 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grid-10 {
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .div-block-3 {
    padding-top: 14px;
    padding-bottom: 10px;
  }

  .image-4 {
    width: 35px;
  }

  .text-block-6 {
    font-size: 12px;
    line-height: 18px;
  }

  .heading-7 {
    font-size: 24px;
  }

  .heading-8 {
    margin-top: 0px;
    font-size: 26px;
    line-height: 32px;
  }

  .text-block-7 {
    font-size: 11px;
    line-height: 13px;
  }

  .section-11 {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .heading-10 {
    font-size: 30px;
    line-height: 33px;
  }

  .text-block-8 {
    margin-top: 0px;
    font-size: 9px;
    letter-spacing: 1px;
  }

  .text-block-9 {
    padding-right: 50px;
    padding-left: 50px;
  }

  .container-12 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .grid-13 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .div-block-10 {
    padding-top: 60px;
  }

  .container-17 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .div-block-11 {
    text-align: center;
  }
}

@media screen and (max-width: 479px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }

  .grid-3 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grid-4 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .square {
    padding-right: 20px;
    padding-left: 20px;
  }

  .heading-4 {
    margin-top: 55px;
    font-size: 13px;
  }

  .text-block-2.alt {
    font-size: 11px;
    line-height: 16px;
  }

  .image {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .container-3 {
    padding-right: 40px;
    padding-left: 40px;
  }

  .grid-5 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }

  .heading-5 {
    margin-bottom: 6px;
  }

  .div-block-2 {
    padding-right: 40px;
    padding-left: 40px;
  }

  .image-3 {
    text-align: center;
  }

  .container-5 {
    padding-right: 15px;
    padding-left: 15px;
  }

  .grid-7 {
    grid-column-gap: 16px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .grid-9 {
    -ms-grid-columns: 1.5fr;
    grid-template-columns: 1.5fr;
  }

  .section-10 {
    padding-bottom: 30px;
  }

  .grid-10 {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .image-4 {
    width: 28px;
  }

  .text-block-6 {
    font-size: 10px;
  }

  .heading-7 {
    font-size: 18px;
    line-height: 40px;
  }

  .div-block-4 {
    padding-right: 15px;
    padding-left: 15px;
  }

  .section-11 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .grid-11 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .heading-10 {
    margin-bottom: 26px;
  }

  .text-block-8 {
    margin-top: 5px;
    font-size: 10px;
  }

  .div-block-6 {
    padding-right: 15px;
    padding-left: 15px;
  }

  .text-block-9 {
    padding-right: 20px;
    padding-left: 20px;
  }

  .grid-12 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .section-12 {
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .form {
    width: 100%;
  }

  .form-block {
    width: 100%;
  }

  .container-16 {
    padding-right: 30px;
    padding-left: 30px;
  }
}

#w-node-_18dcc13d-ac1d-8bbe-fc88-1e659cee52f3-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_22a94027-0554-9462-570f-f2301d9acb35-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_15bf8b1a-9fc7-12c6-b591-253df9895e82-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-ea78c715-7ddd-ceec-7af9-56bddf291ce5-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0a0a6720-a17d-0201-68c7-1bbb430d7d77-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-eb7a0dcf-fe93-d40e-f6bf-32a431cbf537-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-eb7a0dcf-fe93-d40e-f6bf-32a431cbf538-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-eb7a0dcf-fe93-d40e-f6bf-32a431cbf53a-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a82cb0d3-e0aa-9907-1291-4a330a5dc2c6-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a82cb0d3-e0aa-9907-1291-4a330a5dc2c7-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a82cb0d3-e0aa-9907-1291-4a330a5dc2c9-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_5e444ffb-1817-81eb-4dd0-90ff47ac7009-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b2566c5b-0a72-24f0-0b75-b39faee474fa-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_19d6dcaf-1502-9ad1-d117-d31d7c3379eb-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_7b9cd592-5b8e-7282-eede-ad84997adbf0-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_71a69054-5c37-8a30-bcd1-f39cf6c01c16-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_5765651d-d8e0-395b-cccc-996e1593e5c6-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0addcd84-71ef-1fac-bed8-4f72ea8655c5-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0addcd84-71ef-1fac-bed8-4f72ea8655c6-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_0addcd84-71ef-1fac-bed8-4f72ea8655c7-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_46c11b96-b60d-9068-6e15-531be2e32f8f-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_46c11b96-b60d-9068-6e15-531be2e32f90-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_46c11b96-b60d-9068-6e15-531be2e32f91-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_25aef073-6e4a-e047-ebd4-cc8add715e38-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_25aef073-6e4a-e047-ebd4-cc8add715e39-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_25aef073-6e4a-e047-ebd4-cc8add715e3a-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_954c4f41-a403-e5cf-e3d8-820aa6b82ed0-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_954c4f41-a403-e5cf-e3d8-820aa6b82ed1-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_954c4f41-a403-e5cf-e3d8-820aa6b82ed2-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_8d8dc7ce-f76e-99f9-4229-bc83d6b24ae0-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_8d8dc7ce-f76e-99f9-4229-bc83d6b24ae1-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_8d8dc7ce-f76e-99f9-4229-bc83d6b24ae2-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_4046cdbc-956b-6327-c3e7-909fa27572e9-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_4046cdbc-956b-6327-c3e7-909fa27572ea-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_4046cdbc-956b-6327-c3e7-909fa27572eb-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d30c14e7-f1f4-a963-ecfb-e753345d63bf-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d30c14e7-f1f4-a963-ecfb-e753345d63c0-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-d30c14e7-f1f4-a963-ecfb-e753345d63c1-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1d0803f9-783a-9c4a-fc58-97f438e7434d-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1d0803f9-783a-9c4a-fc58-97f438e7434e-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_1d0803f9-783a-9c4a-fc58-97f438e7434f-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c1f56f58-bf76-bc91-3667-eef18e5b52b7-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c1f56f58-bf76-bc91-3667-eef18e5b52b8-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c1f56f58-bf76-bc91-3667-eef18e5b52b9-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_020833aa-416f-fa95-c852-ff27e8c15432-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_020833aa-416f-fa95-c852-ff27e8c15433-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_020833aa-416f-fa95-c852-ff27e8c15434-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-cbe27573-5de0-8a75-7bf5-30d1d74cdb86-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-cbe27573-5de0-8a75-7bf5-30d1d74cdb87-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-cbe27573-5de0-8a75-7bf5-30d1d74cdb88-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_2a6c866f-53d7-6536-25d7-a1cd73b77146-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_2a6c866f-53d7-6536-25d7-a1cd73b77147-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_2a6c866f-53d7-6536-25d7-a1cd73b77148-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c0815eb5-c3d0-4cba-c237-b0392b0d77e2-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c0815eb5-c3d0-4cba-c237-b0392b0d77e3-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c0815eb5-c3d0-4cba-c237-b0392b0d77e4-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_320ed6c7-967e-e35a-0919-6e277330771d-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_320ed6c7-967e-e35a-0919-6e277330771e-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_320ed6c7-967e-e35a-0919-6e277330771f-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_33a2ef19-6710-ef49-c34a-ac730fa3a693-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_33a2ef19-6710-ef49-c34a-ac730fa3a694-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_33a2ef19-6710-ef49-c34a-ac730fa3a695-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-db5afd16-f3b6-4c95-c933-284b84a08c80-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-db5afd16-f3b6-4c95-c933-284b84a08c81-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-db5afd16-f3b6-4c95-c933-284b84a08c82-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_618063d8-3522-a367-bada-7d175057d27f-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_618063d8-3522-a367-bada-7d175057d280-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_618063d8-3522-a367-bada-7d175057d281-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-fb5524c4-cd48-cc2d-7891-e7c71630457c-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e3baa78c-4162-4cee-a75a-3b3d08d230fe-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b1c1294b-dded-8685-d2dd-4d961ac72c67-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-eb9618bf-7cd0-dc8d-7b57-7a3ba14a89a7-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-dffb5955-cec5-4e59-2381-6657ebfc0bb7-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b5d4b730-245f-075e-c4e0-514e06ec5f88-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_4e2c7dbb-3809-b253-6a05-494d4336ea3a-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-c45c7d88-fd48-3ac3-6e52-ddf32dfbfee9-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_146f3a99-30ef-9ac1-2123-ea259990605d-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a60cc58b-6bd4-88ef-c342-691199f7c300-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a60cc58b-6bd4-88ef-c342-691199f7c304-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b1a62052-4a96-7bfd-06ef-01f77fac3ccd-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b1a62052-4a96-7bfd-06ef-01f77fac3cd1-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-de688f92-a81c-b40f-fca8-f6801f0241bf-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-daf3cedb-2ddf-7576-8b93-0e0310e4c9d7-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-b34a99ad-7fdd-fe97-9c40-367d98de559c-e0843384 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_92ba5960-7e5b-95cf-2fc6-1591559db87b-281060e3 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-a2167571-94f1-56d3-ac00-6989ebfd5c45-281060e3 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-dcd6532d-72f3-f2c8-546c-34a831432654-281060e3 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_8fd28331-596a-b103-4f2d-de184e89cf8a-281060e3 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_95783d21-3553-fb2b-1fbb-f60b0596a471-281060e3 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_69a8e39f-94af-3ae0-c765-977463637217-281060e3 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_69a8e39f-94af-3ae0-c765-977463637223-281060e3 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_69a8e39f-94af-3ae0-c765-977463637230-281060e3 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_5b844d4e-caf0-67fc-ff6f-94019dabf881-2e606fe8 {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_4306661e-c2a4-68a0-16e8-8631290db4ee-2e606fe8 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_7c57f381-47c2-3b6f-a597-dfdc29188163-2e606fe8 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-cbd943f6-b4a2-7118-83d3-5f6d5c8b68e1-2e606fe8 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_6164bd1e-813c-ec24-6c8a-dc499f15b38c-2e606fe8 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9fcc299a-89b2-fdc0-0809-b77004dc5fcb-2e606fe8 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9fcc299a-89b2-fdc0-0809-b77004dc5fd7-2e606fe8 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_9fcc299a-89b2-fdc0-0809-b77004dc5fe4-2e606fe8 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_5b844d4e-caf0-67fc-ff6f-94019dabf881-1a72530c {
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-_4306661e-c2a4-68a0-16e8-8631290db4ee-1a72530c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_7c57f381-47c2-3b6f-a597-dfdc29188163-1a72530c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-cbd943f6-b4a2-7118-83d3-5f6d5c8b68e1-1a72530c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-_6164bd1e-813c-ec24-6c8a-dc499f15b38c-1a72530c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e285c20e-d2df-6ae8-f87b-841a89c414a3-1a72530c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e285c20e-d2df-6ae8-f87b-841a89c414af-1a72530c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-e285c20e-d2df-6ae8-f87b-841a89c414bc-1a72530c {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

